---
title: Projekty
published: true
listed: true
position: 4
layout: projects
---
{% assign this_month = site.time | date: "%Y-%m" %}
{% assign no_to_projects = site.projects |
     where_exp: "project", "project.to == null" %}
{% assign active_exp = "project.to >= '" | append: this_month | append: "'" %}
{% assign has_to_projects = site.projects |
     where_exp: "project", active_exp %}
{% assign active_projects = no_to_projects | concat: has_to_projects |
     sort: "title" | reverse |
     sort: "from" | reverse %}
{% assign past_exp = "project.to < '" | append: this_month | append: "'" %}
{% assign past_projects = site.projects |
     where_exp: "project", past_exp |
     sort: "title" | reverse |
     sort: "to" | reverse %}
{% assign projects = active_projects | concat: past_projects %}
<div class="items-row cols-1 row-0 row-fluid">
  <div class="span12">
    {% for project in projects %}
      <div class="item column-1 m-bottom-4 js-user-answer">
        <div class="item_header">
          <h4 class="item_title">
            <a href="{{ project.url }}">{{ project.title }}</a>
          </h4>
        </div>
        <div class="item_info m-bottom-1">
          <dl class="item_info_dl">
            {% if project.tags and project.tags.size > 0 %}
            <dd>
              <div class="item_category-name">
                {% for tag in project.tags %}
                  {% assign filterable_tag = site.filterable_tags |
                       where: "name", tag |
                       first %}
                  {% unless filterable_tag %}{% continue %}{% endunless %}
                  {% capture tag_slug -%}
                    {% include helpers/slug.html page=filterable_tag %}
                  {%- endcapture %}
                  <a href="{{ "/projects" | relative_url }}#category={{ tag_slug }}" class="js-project-category">
                    {{ filterable_tag.name }}
                  </a>
                  {%- unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
              </div>
            </dd>
            {% endif %}
            {% if project.tags and project.tags.size > 0 and project.from -%}
              |
            {%- endif %}
            {% if project.from %}
            <dd>
              <div class="item_published"><time datetime="{{ project.from | date: "%Y-%m-%d" }}" class="js-project-from">{{ project.from | date: "%-m/%Y" }}</time>{% if project.to %} &ndash; <time datetime="{{ project.to | date: "%Y-%m-%d" }}" class="js-project-to">{{ project.to | date: "%-m/%Y" }}</time>{% endif %}</div>
            </dd>
            {% endif %}
          </dl>
        </div>
        <div class="item_introtext">
          <p>{{ project.content | strip_html | truncatewords: 60 }}</p>
        </div>
        <a class="btn btn-info" href="{{ user_answer.url }}">
          <span>{{ site.data.project.more }}</span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
