{% for item in include.pages %}
  {% capture item_url -%}
    {% include helpers/pretty_url.html page=item %}
  {%- endcapture %}
  {% assign url_parts = item_url | split: "/" %}
  {% if url_parts.size <= 2 %}
    <li{% if page.url == item.url %} class="current active"{% endif %}>
      <a href="{{ item_url | relative_url }}">{{ item.title }}</a>

      {% assign parent_url = item_url | append: "/" %}
      {% assign children = include.pages |
           where_exp: "p", "p.url contains parent_url" %}

      {% assign opened = false %}
      {% for child in children %}
        {% capture child_url -%}
          {% include helpers/pretty_url.html page=child %}
        {%- endcapture %}
        {% assign url_parts_size_check = child_url |
             split: "/" |
             size |
             minus: 1 %}
        {% if url_parts_size_check > url_parts.size %}
          {% continue %}
        {% endif %}

        {% unless opened %}
          {% assign opened = true %}
          <ul>
        {% endunless %}
        <li>
          <a href="{{ child_url | relative_url }}">{{ child.title }}</a>
        </li>
      {% endfor %}
      {% if opened %}
        </ul>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
