{% assign gallery = site.galleries | where: "page", page.url | first %}
{% if gallery %}
  <div class="clearfix"></div>
  <div class="article-gallery m-top-3">
    <h3>Galerie</h3>
    <ul class="article-gallery-list">
      {% assign photo_posts = site.posts |
           where_exp: "post", "post.categories contains 'gallery'" |
           where: "gallery", gallery.page %}
      {% for photo in photo_posts %}
        <li class="article-gallery-item img-full">
          {% assign author = site.data.authors[photo.author] %}
          {% capture photo_title -%}
            {%- if author %}{{ author.name }} &ndash; {% endif -%}
            {{ include.photo.title }}
          {%- endcapture %}
          <a href="{{ photo.image | relative_url }}"
             data-rel="lightcase:gallery"
             class="article-gallery-link"
             title="{{ photo_title }}"
             data-lc-title="{{ photo_title }}">
             <img src="{{ photo.content_thumbnail | default: photo.image | relative_url }}"
                  class="object-fit-cover" data-object-fit="cover"
                  alt="{{ photo.content | markdownify | strip_html}}"/>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
