<div id="push"></div>
<div id="footer-wrapper">
  <div class="footer-wrapper-inner p-top-1 p-bottom-1">
    <div id="copyright-row">
      <div class="row-container">
        <div class="container-fluid">
          <div class="flex space-between">
            <div id="copyright">
              <span class="siteName">
                {%- include helpers/author.html author=site.author -%}
              </span>
              <span class="copy">&copy;</span>
              <span>{{ site.time | date: '%Y' }}</span>
              {% if site.data.footer.funded_by_eea %}
                <p class="f-10 m-top-2">
                  <span lang="cs">Podpořeno grantem z&nbsp;Islandu, Lichtenštejnska a&nbsp;Norska.</span><br>
                  <span lang="en">Supported by grant from Iceland, Liechtenstein and Norway.</span>
                </p>
              {% endif %}
            </div>
            {% if site.data.footer.funded_by_eea or
                  site.data.footer.funded_by_moe %}
              <div>
                {% if site.data.footer.funded_by_eea %}
                  <img src="{{ "/assets/images/ehp-fondy-small.jpg" | relative_url }}">
                {% endif %}
                {% if site.data.footer.funded_by_moe %}
                  <img src="{{ "/assets/images/opeu-logo-small.jpg" | relative_url }}">
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="back-top">
  <a href="#"><span></span></a>
</div>
