---
title: Projekty
published: true
listed: true
position: 4
layout: projects
---
{% include sorted_projects.html %}
<div class="items-row cols-1 row-0 row-fluid">
  <div class="span12">
    {% for project in sorted_projects %}
      <div class="item column-1 m-bottom-4 js-project">
        <div class="item_header">
          <h4 class="item_title">
            <a href="{{ project.url }}">{{ project.title }}</a>
          </h4>
        </div>
        <div class="item_info m-bottom-1">
          <dl class="item_info_dl">
            {% if project.tags and project.tags.size > 0 %}
            <dd>
              <div class="item_category-name js-project-categories">
                {% for tag in project.tags %}
                  {% assign filterable_tag = site.filterable_tags |
                       where: "title", tag |
                       first %}
                  {% unless filterable_tag %}{% continue %}{% endunless %}
                  {% capture tag_slug -%}
                    {% include helpers/slug.html page=filterable_tag %}
                  {%- endcapture %}
                  <a class="js-filter" data-filter-type="category" data-filter-val="{{ tag_slug }}" data-filter-ord="{{ filterable_tag.position }}">
                    {{ filterable_tag.title }}
                  </a>
                  {%- unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
              </div>
            </dd>
            {% endif %}
            {% if project.tags and project.tags.size > 0 and project.from -%}
              |
            {%- endif %}
            {% if project.from %}
            <dd>
              <div class="item_published">
                <time datetime="{{ project.from | date: "%Y-%m-%d" }}" class="js-project-from">
                  {{- project.from | append: "-01" | date: "%-m/%Y" -}}
                </time>
                {{- " " -}}
                &ndash;
                {{- " " -}}
                {%- if project.to -%}
                  <time datetime="{{ project.to | date: "%Y-%m-%d" }}" class="js-project-to">
                    {{- project.to | append: "-01" | date: "%-m/%Y" -}}
                  </time>
                {%- else -%}
                  {{- site.data.projects.period.to_today -}}
                {%- endif -%}
              </div>
            </dd>
            {% endif %}
          </dl>
        </div>
        <div class="item_introtext">
          <p>{% include helpers/description.html item=project words=60 %}</p>
        </div>
        <a class="btn btn-info" href="{{ project.url }}">
          <span>{{ site.data.projects.more }}</span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
