---
title: Publikace
published: true
listed: true
position: 5
layout: publications
---
{% include sorted_publications.html %}
<div class="items-row cols-1 row-0 row-fluid">
  <div class="span12">
    {% for publication in sorted_publications %}
      {%- capture site_lang -%}
        {%- include helpers/language.html locale=site.lang -%}
      {%- endcapture -%}
      {%- if publication.lang and publication.lang != site_lang -%}
        {%- assign has_foreign_lang = true -%}
      {%- else -%}
        {%- assign has_foreign_lang = false -%}
      {%- endif -%}

      <p class="js-publication"{% if has_foreign_lang %} lang="{{ publication.lang }}"{% endif %}><a href="{{ publication.url | relative_url }}">{{ publication.title }}</a>

        {%- if has_foreign_lang %}<span lang="{{ site.lang }}">{% endif -%}

        {{- " | " -}}

        {%- assign publication_type = site.publication_types |
              where: "title", publication.type |
              first -%}
        {% capture type_slug -%}
          {% include helpers/slug.html page=publication_type %}
        {%- endcapture %}
        <a href="#type={{ type_slug }}" class="js-publication-type">
          {{- publication.type -}}
        </a>
        {%- if publication.tags and publication.tags.size > 0 -%}
          &nbsp;
        {%- endif %}

        {% for tag in publication.tags -%}
          {%- assign filterable_tag = site.filterable_tags |
                where: "title", tag |
                first -%}
          {%- unless filterable_tag %}{% continue %}{% endunless -%}
          {%- capture tag_slug -%}
            {% include helpers/slug.html page=filterable_tag %}
          {%- endcapture -%}
          <a href="#category={{ tag_slug }}" class="js-publication-category">
            {{- tag -}}
          </a>
          {%- unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}

        {%- if has_foreign_lang %}</span>{% endif -%}

        {%- assign has_break = false -%}

        {%- if publication.authors and publication.authors.size > 0 -%}
          {%- unless has_break -%}
            <br>
            {%- assign has_break = true -%}
          {%- endunless -%}
          {%- for author in publication.authors -%}
            {%- unless forloop.first %}, {% endunless -%}
            {{- author.name -}}
          {%- endfor -%}
          .
        {% endif -%}

        {%- if publication.journal %}
          {%- unless has_break -%}
            <br>
            {%- assign has_break = true -%}
          {%- endunless -%}
          {{ publication.journal }}.
        {% endif -%}

        {%- if publication.year %}
          {%- unless has_break -%}
            <br>
            {%- assign has_break = true -%}
          {%- endunless -%}
          <time class="js-publication-year"{%- if has_foreign_lang %} lang="{{ site.lang }}"{% endif -%}>{{ publication.year }}</time>.
        {% endif -%}
      </p>
    {% endfor %}
  </div>
</div>
