.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

.clearfix:after {
  clear: both; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row-container {
  max-width: 1116px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1; }

.row-container:before,
.row-container:after {
  display: table;
  content: "";
  line-height: 0; }

.row-container:after {
  clear: both; }

@media (min-width: 1200px) {
  .row-container {
    padding: 0 18px; } }
@media (max-width: 1200px) {
  .row-container {
    padding: 0 10px; } }
@media (max-width: 767px) {
  .row-container {
    padding: 0 1%; } }
.language-switch {
  position: absolute;
  top: 8px;
  right: 20px; }
  .language-switch img {
    width: 40px; }
