{%- capture tag_slugs -%}
  {%- for tag in include.photo.tags -%}
    {%- assign filterable_tag = site.filterable_tags |
          where: "title", tag |
          first -%}
    {%- unless filterable_tag -%}
      {%- continue -%}
    {%- endunless %} {% include helpers/slug.html page=filterable_tag -%}
  {%- endfor -%}
{%- endcapture -%}
{% capture photo_title -%}
  {%- if include.photo.author %}{% include helpers/author.html author=include.photo.author %} &ndash; {% endif -%}
  {{ include.photo.title }}
{%- endcapture %}
<li class="gallery-item firstItem isotope-item{{ tag_slugs }}">
  <div class="item_img img-intro img-intro__left">
    <a class="zoom"
       href="{{ include.photo.image | relative_url }}"
       data-rel="lightcase:gallery"
       title="{{ photo_title }}"
       data-lc-title="{{ photo_title }}"
       data-categories="{{ tag_slugs | lstrip }}">
      <img src="{{ include.photo.gallery_thumbnail | default: include.photo.image | relative_url }}"
           class="gallery__image object-fit-cover" data-object-fit="cover"
           alt="{{ include.photo.content | strip_html }}"/>
    </a>
  </div>
  <div class="item_header">
    <h5 class="item_title">{{ include.photo.title | truncate: 35 }}</h5>
  </div>
  <div class="item_introtext">
    {% include helpers/description.html item=include.photo words=10 %}
    {% if include.photo.author %}(<i>{% include helpers/author.html author=include.photo.author %}</i>){% endif %}
  </div>
  <div class="clearfix"></div>
</li>
