<div id="mainbottom-row">
  <div class="row-container">
    <div class="container-fluid">
      <div class="row-fluid">
        {% assign news_posts = site.posts |
             where_exp: "post", "post.categories contains 'news'" %}
        {% for news in news_posts limit: 3 %}
          <div class="span3">
            {% include home_news_bigitem.html news=news %}
          </div>
        {% endfor %}

        <div class="moduletable news  span3">
          <h4 class="moduleTitle ">{{ site.data.home.news.following }}</h4>
          <div class="mod-newsflash-adv mod-newsflash-adv__news">
            {% for news in news_posts offset: 3, limit: 3 %}
              {% include home_news_smallitem.html news=news %}
            {% endfor %}
          </div>

          <a class="btn btn-info readmore" href="{{ "/news" | relative_url }}">
            <span>{{ site.data.home.news.all }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
